.fallback {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;

  color: var(--text-color);

  background-color: var(--bg-color);
}

.fallbackTitle {
  margin: 0 0 1rem 0;

  font-size: 4rem;
  line-height: 130%;
}

.fallbackText {
  margin: 0;

  font-size: 2.4rem;
  line-height: 150%;
}

.fallback_theme_dark {
  color: var(--dark-text-color);

  background-color: var(--dark-bg-color);
}
