.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  margin-top: 2.4rem;
}

.pagination__page {
  font-size: 5rem;
}

.pagination__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;

  font-weight: 700;
  font-size: 3rem;
  text-decoration: none;
  color: #000000;

  border: 0.3rem solid #181818;
  border-radius: 1rem;
}

.pagination__button:hover {
  color: var(--main-bg-color);

  background-color: #181818;
}

.pagination__button:active {
  transform: scale(0.9);
}
