.themesComboBox {
  display: flex;
  align-items: center;
  column-gap: 0.4rem;

  font-size: 2rem;
  color: var(--dark-text-color);
}

.themesComboBoxLabel {
  font-weight: 700;
}

.themesComboBoxDropdown {
  align-self: stretch;
  padding: 0.4rem;

  font-size: 2rem;
  color: var(--text-color);

  background-color: var(--bg-color);
}

.themesComboBox_theme_dark {
  color: var(--text-color);

  .themesComboBoxDropdown {
    color: var(--dark-text-color);

    background-color: var(--dark-bg-color);
  }
}
