.products-flyout {
  position: sticky;
  bottom: 28px;

  display: flex;
  justify-content: center;
  margin: 2rem 0 0 0;
}

.products-flyout__content {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  padding: 2rem;

  background-color: var(--bg-color);
  border: 0.2rem solid var(--dark-bg-color);
  border-radius: 1rem;
  box-shadow: 1px 1px 10px var(--dark-bg-color);
}

.products-flyout__text {
  margin: 0;

  font-size: 3rem;
  line-height: 130%;
  color: var(--text-color);
}

.products-flyout__button {
  padding: 0.1rem 0.6rem;

  font-size: 3rem;
  line-height: 130%;
  color: var(--bg-color-alt);
  text-decoration: none;

  background-color: var(--bg-color-secondary);
  border: 0.2rem solid var(--bg-color-secondary);
  border-radius: 0.6rem;
  cursor: pointer;
}

.products-flyout__button:hover {
  color: var(--bg-color-secondary);

  background-color: transparent;
}

.products-flyout__button:active {
  transform: scale(0.9);
}

.products-flyout_theme_dark {
  .products-flyout__content {
    background-color: var(--dark-bg-color);
    border-color: var(--bg-color);
    box-shadow: 1px 1px 10px var(--bg-color);
  }

  .products-flyout__text {
    color: var(--dark-text-color);
  }

  .products-flyout__button {
    color: var(--dark-bg-color-alt);

    background-color: var(--dark-bg-color-secondary);
    border-color: var(--dark-bg-color-secondary);
  }

  .products-flyout__button:hover {
    color: var(--dark-bg-color-secondary);

    background-color: transparent;
  }
}
