.products-flyout {
  position: sticky;
  bottom: 28px;

  display: flex;
  justify-content: center;
  margin: 2rem 0 0 0;
}

.products-flyout__content {
  padding: 2rem;

  background-color: var(--bg-color);
  border: 0.2rem solid var(--dark-bg-color);
  border-radius: 1rem;
  box-shadow: 1px 1px 10px var(--dark-bg-color);
}

.products-flyout__text {
  margin: 0;

  font-size: 3rem;
  line-height: 130%;
  color: var(--text-color);
}

.products-flyout_theme_dark {
  .products-flyout__content {
    background-color: var(--dark-bg-color);
    border-color: var(--bg-color);
    box-shadow: 1px 1px 10px var(--bg-color);
  }

  .products-flyout__text {
    color: var(--dark-text-color);
  }
}
