.passwordStrength {
  margin: 0;

  font-size: 1.6rem;
  line-height: 130%;
}

.passwordStrengthLabel {
  font-weight: 700;
}

.passwordStrengthLabelWeak {
  color: #dd1a1a;
}

.passwordStrengthLabelNormal {
  color: #dd8f1a;
}

.passwordStrengthLabelStrong {
  color: #2b9e35;
}
