.error-button {
  font-weight: 700;
  font-size: 2rem;
  color: #ff8080;

  background-color: transparent;
  border: 0.2rem solid #fd5f5f;
  cursor: pointer;
}

.error-button:hover {
  background-color: #7e0000;
}

.error-button:active {
  background-color: #4e0000;
}

.error-button_theme_dark {
  color: #ff5050;

  border-color: #ff3737;
}
