.notFoundPage {
  box-sizing: border-box;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 3rem;
  height: 100%;
  padding: 2rem;

  color: var(--text-color);

  background-color: var(--bg-color);
}

.notFoundPageStatus {
  font-weight: 700;
  font-size: 10rem;
}

.notFoundPageTitle {
  margin: 0;

  font-size: 3rem;
}

.notFoundPageLink {
  font-size: 3rem;
  font-style: italic;
  color: var(--bg-color-secondary);
}

.notFoundPageLink:hover {
  text-decoration: none;
}

.notFoundPageLink:active {
  transform: scale(0.9);
}

.notFoundPage_theme_dark {
  color: var(--dark-text-color);

  background-color: var(--dark-bg-color);

  .notFoundPageLink {
    color: var(--dark-bg-color-secondary);
  }
}
