.not-found-page {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 3rem;
  padding: 2rem;

  color: var(--text-color);

  background-color: var(--bg-color);
}

.not-found-page__status {
  font-weight: 700;
  font-size: 10rem;
}

.not-found-page__title {
  margin: 0;

  font-size: 3rem;
}

.not-found-page__link {
  font-size: 3rem;
  font-style: italic;
  color: var(--bg-color-secondary);
}

.not-found-page__link:hover {
  text-decoration: none;
}

.not-found-page__link:active {
  transform: scale(0.9);
}

.not-found-page_theme_dark {
  color: var(--dark-text-color);

  background-color: var(--dark-bg-color);

  .not-found-page__link {
    color: var(--dark-bg-color-secondary);
  }
}
