.searchForm {
  display: flex;
}

.searchFormInput {
  padding: 0.4rem 0.6rem;

  font-size: 2.4rem;
  color: var(--text-color);

  background-color: var(--bg-color);
}

.searchFormButton {
  font-size: 2rem;
  color: var(--text-color);

  background-color: var(--bg-color);
  cursor: pointer;
}

.searchForm_theme_dark {
  .searchFormInput {
    color: var(--dark-text-color);

    background-color: var(--dark-bg-color);
  }

  .searchFormButton {
    color: var(--dark-text-color);

    background-color: var(--dark-bg-color);
  }
}
