.productPage {
  position: fixed;

  display: flex;
  width: 50%;
  height: 100%;

  color: var(--text-color);
}

.productPageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 3rem 2rem;

  overflow: auto;
}

.productPageTitle {
  margin: 0 0 3rem 0;

  font-size: 4rem;
}

.productPageImage {
  margin-bottom: 3rem;

  background-color: var(--bg-color-alt);
  border-radius: 1rem;
  box-shadow: 0.4rem 0.4rem 0.8rem var(--bg-color-secondary);
  object-fit: contain;
}

.productPageDescription {
  margin: 0 0 3rem 0;

  font-size: 3rem;
  line-height: 130%;
  text-align: center;
}

.productPageFeature {
  margin: 0 0 1rem 0;

  font-size: 2.6rem;
  line-height: 130%;
}

.productPageButton {
  margin-top: 2rem;
  padding: 1rem;

  font-size: 4rem;
  color: var(--bg-color-alt);
  text-decoration: none;

  background-color: var(--bg-color-secondary);
  border: 0.2rem solid var(--bg-color-secondary);
  border-radius: 1rem;
}

.productPageButton:hover {
  color: var(--bg-color-secondary);

  background-color: transparent;
}

.productPageButton:active {
  transform: scale(0.9);
}

.productPageShadow {
  position: absolute;
  top: 0;
  left: -100%;
  bottom: 0;
  z-index: 50;

  width: 100%;

  background-color: rgba(0, 0, 0, 0.5);
}

.productPage_theme_dark {
  color: var(--dark-text-color);

  .productPageImage {
    background-color: var(--dark-bg-color-alt);
    box-shadow: 0.4rem 0.4rem 0.8rem var(--dark-bg-color-secondary);
  }

  .productPageButton {
    color: var(--dark-bg-color-alt);

    background-color: var(--dark-bg-color-secondary);
    border-color: var(--dark-bg-color-secondary);
  }

  .productPageButton:hover {
    color: var(--dark-bg-color-secondary);

    background-color: transparent;
  }
}
