.products-list {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  margin: 0;
  padding: 0;

  list-style: none;
}

.products-list__item {
  padding: 2.4rem;

  background-color: var(--main-bg-color);
  border-radius: 1.2rem;
  box-shadow: 0.4rem 0.4rem 0.8rem #181818;
}

.products-list__title {
  margin: 0 0 1rem 0;

  font-size: 3rem;
  line-height: 130%;
}

.products-list__text {
  margin: 0;

  font-size: 2.4rem;
  line-height: 150%;
}
