.status-message {
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 4rem;

  font-weight: 700;
  font-size: 4rem;
}
